:root {
    --primary-color: rgb(24, 71, 102);
    --secondary-color: rgb(46, 129, 161);
    --tertiary-color: rgb(175, 175, 175);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 2.5vw;
    color: var(--secondary-color);
    border-bottom: 0.8vw dotted;
    padding: 50px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 25%;
}

h3 {
    font-size: 2.0vw;
}

/* Header Styles Begin */

header {
    padding: 50px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 3.0vw;
    margin: 0;
}
header a {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 20px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 50px;
    text-shadow: none;
    font-weight: bolder;
}

/* Header Styles End */

/* About Me Styles Begin */

.about-me {
    background-color: rgb(34, 34, 34);
    border-bottom: 20px double;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me div {
    width: 100%;
    height: auto;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.about-me div img {
    max-width: 50%;
    max-height: auto;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 50%;
}

.about-me p {
    padding: 0px 80px;
    font-size: 1.5vw;
    text-align: left;
    align-content: center;
}

/* About Me Styles End */

/* My Projects Styles Begin */

.my-projects {
    background-color: rgb(34, 34, 34);
    border-bottom: 20px double;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-projects div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 80px;
    text-align: left;
}

.my-projects ul {
    list-style: none;
}

.my-projects li {
    padding: 100px;
}

.my-projects a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    line-height: 2.0;
    font-weight: 550;
    font-size: 1.4vw;
    padding: 100px;
    border-radius: 50px;
}

.run-buddy a {
    background-image: url("../images/run-buddy-screenshot.JPG");
    background-size: cover;
    background-position: center;
    padding: 100px 200px;
}

.robot-gladiators a {
    background-image: url("../images/robot-gladiators-screenshot.JPG");
    background-size: cover;
    background-position: center;
    padding: 100px 140px;
}

.bootcamp-projects {
    border-bottom: 10px solid var(--secondary-color);
}

/* My Projects Styles End */

/* Social Media Styles Begin */

.social-media {
    background-color: rgb(34, 34, 34);
    border-bottom: 20px double;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.social-media div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.social-media img {
    width: 10vw;
    height: 10vw;
    padding: 10px 20px;
    border-radius: 40px;
}

/* Social Media Styles End */

/* Contact Me Styles Begin */

.contact-me {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding: 60px 120px;
}

.contact-me div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact-me p {
    font-size: 1.5vw;
    text-align: left;
    align-content: center;
    padding: 40px 0px;
}

.contact-me address {
    font-size: 1.5vw;
    text-align: left;
    align-content: center;
}

/* Contact Me Styles End */

/* Media Queries --- didn't have enough time to figure out before due date, sorry! */
@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}